@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');


html {
  background-color: rgb(218, 218, 218);
  width: 100vw;
  height: 100vh;
  --white: rgb(240, 240, 240);
  --black: rgb(10, 10, 10);
  --hover-pink:rgb(204, 141, 236);
}

body {
  margin: 0;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 10vh;
  color: white;
  font-size: calc(1vw + 3px);
  background-color: var(--black);
  a {
    padding: 0 1%;
  }
  a:hover {
    color: rgb(211, 164, 224);
    cursor: pointer;
  }
}

.main-container {
  display: flex;
  height: 100vh;
}

h1 {
  font-family: 'Play', sans-serif;
  font-size: 3em;
  text-align: center;
  color: var(--white);
}

.sidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  border-right: 5px solid --black;
  background-color: var(--black);
}

.filters {
  background-color: rgb(242, 224, 253);
  width: 100%;
  font-family: 'Play', sans-serif;
}

.filter {
  padding: 1vw;
  font-size: 2vw;
  border: 1px solid var(--black);
  border-right: 5px solid var(--black);
}

.filter:hover {
  color: var(--hover-pink);
  cursor: pointer;
}

.logo {
  flex: 0;
  width: 20vw;
  margin: 2vw 0;
  border-radius: 60px;
}

.feed {
  display: grid;
  flex: 3;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
  padding: 5vh 5vw;
  overflow-y: scroll;
  border-bottom: 5px solid black;
  /* border-top: 1px solid var(--white); */
  /* margin: 0 5vw; */
}

.article {
  display: flex;
  flex-direction: column;
  padding: calc(1vw + 1px);
  border: 1px solid black;
  height: 25vw;
  font-size: clamp(1px, 1vw, 20px);
  background-color: rgb(81, 66, 85);
  box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.5);
  justify-content: space-around;
}

.title {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: clamp(10px, 2vw, 20px);
}

.description {
  text-align: left;
  color: rgb(239, 239, 239);
}

.title:hover {
  color: var(--hover-pink);
  text-decoration: underline;
}

.date {
  color: rgb(184, 184, 184);
  font-size: calc(1vw + 2px);
  align-self: flex-end;
}