@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');


html {
  background-color: rgb(49, 39, 52);
  /* width: 100vw; */
  --white: rgb(240, 240, 240);
}

body{
  margin: 0 0 1vw 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 4vw;
  color: white;
  font-size: calc(1vw + 3px);
  background-color: rgb(10, 10, 10);
  div {
    padding: 0 1%;
  }
}


h1 {
  font-family: 'Play', sans-serif;
  font-size: 3em;
  text-align: center;
  color: var(--white);
}

.logo {
  height: 20vw;
  width: 20vw;
  margin: 2vw 0;
}

.feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
  border-top: 1px solid var(--white);
  padding-top: 5vw;
  margin: 0 5vw;
}

.article {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: calc(1vw + 1px);
  border: 1px solid black;
  height: 10vw;
  font-size: calc(1vw + 5px);
}

.title {
  color: var(--white);
  text-decoration: none;
}

.date {
  color: rgb(193, 193, 193);
  font-size: calc(1vw + 2px);
}